@import "~bootstrap/scss/bootstrap";

@import "~bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/mixins/_breakpoints.scss";

@import "./typography.scss";
@import "./theme-colors.scss";
@import "./theme-vars.scss";

/* Global styles */

html {
  scroll-behavior: smooth;

  @include media-breakpoint-up(lg) {
    scroll-snap-type: y;
  }
}

body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-overflow-scrolling: touch;
}

a {
  color: $primary;
}

/* Global components */
.content-section {
  border: $wide-light-border;
  line-height: $line-height-size;

  @include media-breakpoint-up(lg) {
    border: $xl-light-border;
  }
}

.content {
  position: relative;
  width: 100%;
  z-index: 1;
}

.message {
  background-color: $action;
  margin: 0 $small-padding;
  padding: $small-padding $wide-padding;
  border-bottom: $wide-light-border;

  button {
    font-weight: $bold;
    color: $secondary;
    text-align: center;
    margin: 0;
    width: 100%;
    background: none;
    border: none;
  }
}

table {
  width: 100%;
  border-top: $mid-border;
  border-bottom: $mid-border;
  margin: 0 0 $wide-padding 0;

  tr {
    border-top: $small-border;
    border-bottom: $small-border;

    td {
      width: 50%;
      padding: 0 $small-padding 0 0;
      vertical-align: top;
    }
  }
}

.btn {
  border-radius: 0;
  border: $mid-border;
  height: 40px;
}

.btn.action {
  background-color: $action;
  border-color: $action;
  border-radius: 0;
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: auto;
  }

  svg ~ span {
    padding: 0 0 0 $small-padding;
  }
}

.dark {
  position: relative;
  z-index: 0;
  color: $secondary;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity: 0.85;
    background-color: $primary;

  }

  .heading {
    color: $secondary;
    border-color: $secondary;
  }
}

ul {
  list-style: none;
  padding: 0;
}

::placeholder {
  color: $secondary;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $secondary;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $secondary;
}

input,
textarea {
  color: $secondary;
  padding: $small-padding;
  background-color: $trasnparent;
  border: $small-light-border;
  width: 100%;
}

.small-paragraph {
  line-height: $small-line-height-size;
  font-size: 0.75rem; /* $small-paragraph-size */
}

.alert {
  border-radius: 0;
  position: fixed;
  bottom: $large-padding;
  left: 0;
  right: 0;
  font-size: $small-paragraph-size;
  background-color: $secondary;
  z-index: 999;
  max-width: 400px;

  @include media-breakpoint-up(lg) {
    width: 300px;
    left: $large-padding;
  }

  p {
    float: left;
    margin-bottom: 0;
  }

  a {
    text-decoration: underline;
  }
}

.arrow-icon {
  cursor: pointer;
}
